<app-menu></app-menu>
<div class="component">
  <div>
    <span>User List</span>
    <span *ngIf="isAdmin"> | <a routerLink="/user/create">Create New</a></span>
  </div>
  <table class="table table-sm" *ngIf="users">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Username</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Reviewer?</td>
        <td>Admin?</td>
        <td>Active</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | sortUsers">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }} {{ user.lastName}}</td>
      <td>{{ user.userName }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.reviewer | bool }}</td>
      <td>{{ user.admin | bool }}</td>
      <td>
        <a routerLink='/users/detail/{{user.Id}}'>Detail</a>
        <span *ngIf="isAdmin"> |  <a routerLink='/users/edit/{{user.Id]]'>Edit</a></span>
      </td>
    </tr>
    </tbody>
  </table>
 </div>
